@font-face {
	font-family: "asdf";
	src: url('/Roboto/Roboto-Black.ttf');
}

:root {
	--main-link-color: #11cbd8;
}
a:hover {
	color: var(--main-link-color);
}

body {
	min-height: 25vh;
	min-width: 25vh;
	
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 3rem;
}

#from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
a {
  flex: 1;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover,
a:focus {
  background-color: #000;
  color: #fff;
}

h2 {
	text-align: center;
	font-size: 2rem;
transform: rotate(1deg);
}

li {
	width: 95%;
}

footer {
	display: flex;
	justify-content: center;
}

section[id="sideprojects"] {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

#sideprojectli1{
}
#sideprojectli2  {
}


* {
	font-size: 1rem;
	font-family: "asdf", sans-serif;
}